* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p,
button {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: unset;
}

li {
    list-style: none;
}

figure, blockquote {
    margin: 0;
}

hr {
    margin: 0;
    width: 100%;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}