@use 'variables' as v;
@use 'mixins' as m;
@use 'sass:color';

%cloud-template {
    width: 700px;
    height: 240px;
    background: url('../assets/img/cloud_alpha.png') center/contain no-repeat;
}

%input-template {
    width: 100%;
    height: 47px;
    border-radius: 20px;
    border: 1px solid v.$color_grey;
    padding: 0 1em;
    @include m.font(25px, 400, v.$color_black);

    &::placeholder {
        @include m.font(25px, 100, v.$color_grey);
    }
}

.form-section {
    padding: 180px 15px;
    position: relative;
    overflow: hidden;

    &__bg-cloud {
        @extend %cloud-template;
    }

    .cloud--left {
        @include m.position(absolute, 1, -1, top, left, 0, -350px);
    }
    .cloud--right {
        @include m.position(absolute, 1, -1, bottom, right, 0, -350px);
    }

    &__wrapper {
        width: 100%;
        height: 360px;
        margin: 0 auto;
        @include m.d-flex(center, center, nowrap, row, 0, 0);
    }

    @media (max-width: v.$media_xl) {
        padding: 220px 15px 240px 15px;
    }
}

.form {
    width: min(625px, 100%);
    @include m.d-flex(center, center, nowrap, column, 0, 23px);

    &__title {
        @include m.font(36px, 400, v.$color_black);
    }

    &__name,
    &__email,
    &__text {
        @extend %input-template;
    }

    &__submit-btn {
        width: 100%;
        height: 50px;
        border-radius: 20px;
        border: none;
        @include m.font(25px, 500, v.$color_white);
        background-color: v.$color_black;
        cursor: pointer;

        &:hover {
            opacity: .8;
        }
    }

    @media (max-width: v.$media_md) {
        &__title {
            @include m.font(32px, 400, v.$color_black);
        }
    
        &__name,
        &__email,
        &__text {
            @include m.font(18px, 400, v.$color_black);

            &::placeholder {
                @include m.font(18px, 100, v.$color_grey);
            }
        }
    }
}