@use 'variables' as v;

%hover-black {
    &:hover {
        cursor: pointer;
        color: v.$color_black;
    }
}

%hover-black-icon {
    &:hover {
        cursor: pointer;
        stroke: v.$color_black;
    }
}