// $color_blue: #5873b6;
$color_blue: #678FF2;
$color_white: #fff;
$color_black: #000;
$color_grey: #B4B4B4;

$media_xxl: 1400px;
$media_xl: 1200px;
$media_lg: 992px;
$media_md: 768px;
$media_sm: 576px;
$media_min: 428px;